
/* css for Education*/

section#education {
  /* margin: 20px 0; */
}

section#education h2 {
  margin-bottom: 10px;
}

section#education table {
  border-collapse: collapse;
  width: 100%;
}

section#education th,
section#education td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

section#education th {
  background-color: #333;
  color: white;
}



/* projects  */

#card{
  margin-bottom: 20px;
  background-color: rgb(173, 151, 194);
  color: rgb(100, 17, 62);
}

.project {
  width: 300px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}



.project h3 {
  margin-top: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.project p {
  text-align: justify;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project a {
  text-align: center;
  margin-top: 10px;
}

.projjj{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background: rgb(223, 120, 212); */
}
h4{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* skills */

.skills-section {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  }
  
  .skills-section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  rgb(148, 131, 131);
  }
  
  .skills-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .skills-section li {
  font-size: 1.2em;
  padding: 10px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(212, 193, 193);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* internship css */

  .internship {
    margin: 50px 0;
  }
  
  .internship h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .internship-item {
    margin-bottom: 30px;
  }
  
  .internship-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

  /* footer  */

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left, .footer-right {
    width: 40%;
  }
  
  .footer-left ul, .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left ul li, .footer-right ul li {
    margin-bottom: 10px;
  }
  
  .footer-left a, .footer-right a {
    color: #fff;
    text-decoration: none;
  }
    .footer-left a:hover, .footer-right a:hover {
    text-decoration: none;
  }
  #icon {
  margin-right: 5px;
}
